<h1>Stupid Coaching</h1>
<div class="main-container">
<h2><%= @user_statement %></h2>
<p><em> -You </em></p>
</div>

<div class="main-container">
<h2><%= @coach_answer %></h2>
<p><em> -Your coach </em></p>
</div>

<%= link_to "Ask a new question", ask_path %>

